.tab-bar, .tab-bar h1, .tab-bar h2, .tab-bar h3 {
    color: white;
    background: #1d96e7;
    height: 3.75rem;
}
.left-small {
    border-right: solid 1px #1775b4;
    height: 3.75rem;
    text-align: center;
}
.right-small {
    border-left: solid 1px #1775b4;
    height: 3.75rem;
    text-align: center;
}
@media only screen and (min-width: 40.063em) .tab-bar-section {
    text-align: left;
}
.tab-bar-section.middle {
    text-align: left;
}
ul.off-canvas-list li label {
    background: #1775b4;
    color: white;
    border-top: solid 1px #1775b4;
}
.left-off-canvas-menu {
    background: #1d96e7;
}
.size-48 {
    font-size: 48px;
}
.size-36 {
    font-size: 36px;
}
.cajaMenu {
    display: inline-block;
}
.cajaUsuario {
    float: right;
}
#ligaC {
    cursor: pointer;
}

/*Estilos de quiniela*/

table#quiniela{
    width: 100%;
}


table#quiniela tr{
    border-bottom: solid 1px rgb(181, 180, 180);
    border-top: solid 1px rgb(181, 180, 180);
}

table#quiniela tr th {
    text-align: center;
    font-size: 20px;
}

table#marcador {
    border: none;
}

table#marcador tr {
    border: none;
}



table#quiniela tr td {
    text-align: center;
}

